.blogroll {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	gap: 3em;
}

.blogroll li {
	padding: 1rem;
	border: 2px solid hotpink;
}

.blog-title img {
	height: 1.2rem;
	margin-block-end: -0.25rem;
}